body {
    background-color: #101025;
    font-size: 1em;
    font-family: "Arial";
    color: goldenrod;
}
table, th, td
{

}
canvas {
    background-color: black;
    width: 1200px;
    height: 600px;
}
button {

}
#header {
    border-bottom-style: outset;
    border-color: #18182D;
    padding: 1em;
}
#header_main {
    font-size: 2.5em;
    font-family: "Arial";
    color: goldenrod;
}
#header_sub {
    font-size: 1em;
    font-family: "Arial";
    font-weight: bold;
    color: red;
}
input {
    background-color: #101025;
    color: goldenrod;
    border-style: inset;
    border-color: #18182D;
    padding: 3px;
    width: 75px;
}