#targets_table {
    width: 1200px;
}
#champ_box {
    margin-left:auto;
    margin-right:auto;
    border-style: outset;
    border-color: #18182D;
    padding: 8px;
    width: 100%;
    float: left;
}
#target_box {
    margin-left:auto;
    margin-right:auto;
    border-style: outset;
    border-color: #18182D;
    padding: 8px;
    width: 100%;
    float: left;
}

.preset_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #6868a8;
    -webkit-box-shadow:inset 0px 1px 0px 0px #6868a8;
    box-shadow:inset 0px 1px 0px 0px #3b3b7f;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2f2f80), color-stop(1, #101025) );
    background:-moz-linear-gradient( center top, #2f2f80 5%, #101025 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4dc7', endColorstr='#101025');
    background-color:#4d4dc7;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #0e0e42;
    display:inline-block;
    color:#daa520;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:40px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #0f0f75;
}
.preset_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #101025), color-stop(1, #2f2f80) );
    background:-moz-linear-gradient( center top, #101025 5%, #2f2f80 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#101025', endColorstr='#4d4dc7');
    background-color:#101025;
}
/*.preset_button:active {
     position:relative;
     top:1px;
 }*/