<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <!--<link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/stats_panel.css">
    <link rel="stylesheet" type="text/css" href="css/graph.css">-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controllers/build.js" type="text/javascript"></script>
    <script src="js/controllers/tabmenu.js" type="text/javascript"></script>
    <script src="js/controllers/dropdown.js" type="text/javascript"></script>

    <title>Champ Builder Alpha</title>
</head>
<body>
    <!--<div id = "header">
        <span id="header_main">Champ Builder</span>
        <span id="header_sub">ALPHA</span>
    </div>-->
    <h1>Champ Builder ALPHA</h1>
    <br>
    <div ng-app="ChampBuilderApp" ng-controller="BuildCtrl">
        <table>
            <tr>
                <th>
                    <table>
                        <tr>
                            <td rowspan="3"><img src="img/portraits/Aatrox_Square_0.png" alt="Aatrox"></td>
                            <td>Aatrox</td>
                            <td>Build</td>
                        </tr>
                        <tr>
                            <td>Level 18</td>
                            <td rowspan="2">
                                <table>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td><img src="img/abilities/Aatrox_Q.png" alt="Q" height="32" width="32"></td>
                                        <td><img src="img/abilities/Aatrox_W1.png" alt="W" height="32" width="32"></td>
                                        <td><img src="img/abilities/Aatrox_E.png" alt="E" height="32" width="32"></td>
                                        <td><img src="img/abilities/Aatrox_R.png" alt="R" height="32" width="32"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                </th>
                <th>
                    <table>
                        <tr>
                            <td rowspan="2">Target</td>
                            <td>Health</td>
                            <td><input type="number" ng-model="model.targetDummy.hp" ng-init="model.targetDummy.hp=2000" min="0" value="model.targetDummy.hp"></td>
                            <td>Mana</td>
                            <td><input type="number" ng-model="model.targetDummy.mp" min="0" ng-init="model.targetDummy.mp=1000"></td>
                            <td>AD</td>
                            <td><input type="number" ng-model="model.targetDummy.attackDamage" min="0" ng-init="model.targetDummy.attackDamage=150"></td>
                            <td>AS</td>
                            <td><input type="number" ng-model="model.targetDummy.attackSpeed" min="0" max="2.5" ng-init="model.targetDummy.attackSpeed=1.5" step="0.1"></td>
                            <td>AP</td>
                            <td><input type="number" ng-model="model.targetDummy.magicDamage" min="0" ng-init="model.targetDummy.magicDamage=0" step="1"></td>
                            <td rowspan="4">PIC</td>
                        </tr>
                        <tr>
                            <td>Health Regen</td>
                            <td><input type="number" ng-model="model.targetDummy.hpregen" min="0" ng-init="model.targetDummy.hpregen=3.7" step="0.1"></td>
                            <td>Mana Regen</td>
                            <td><input type="number" ng-model="model.targetDummy.mpregen" min="0" ng-init="model.targetDummy.mpregen=3.5" step="0.1"></td>
                            <td>Phys. DPS</td>
                            <td><input type="number" ng-model="model.targetDummy.physicalDps" min="0" ng-init="model.targetDummy.physicalDps=200"></td>
                            <td>Flat Armor Pen</td>
                            <td><input type="number" ng-model="model.targetDummy.flatArmorPen" min="0" ng-init="model.targetDummy.flatArmorPen=10"></td>
                            <td>% Armor Pen</td>
                            <td><input type="number" ng-model="model.targetDummy.percentArmorPen" min="0" ng-init="model.targetDummy.percentArmorPen=35"></td>
                        </tr>
                        <tr>
                            <td ng-init="model.targetDummy.level=18">Level {{model.targetDummy.level}}</td>
                            <td>Armor</td>
                            <td><input type="number" ng-model="model.targetDummy.armor" min="0" ng-init="model.targetDummy.armor=100"></td>
                            <td>MR</td>
                            <td><input type="number" ng-model="model.targetDummy.spellblock" min="0" ng-init="model.targetDummy.spellblock=70"></td>
                            <td>Magic DPS</td>
                            <td><input type="number" ng-model="model.targetDummy.magicDps" min="0" ng-init="model.targetDummy.magicDps=50"></td>
                            <td>Flat Magic Pen</td>
                            <td><input type="number" ng-model="model.targetDummy.flatMagicPen" min="0" ng-init="model.targetDummy.flatMagicPen=0"></td>
                            <td>% Magic Pen</td>
                            <td><input type="number" ng-model="model.targetDummy.percentMagicPen" min="0" ng-init="model.targetDummy.percentMagicPen=0"></td>
                        </tr>
                        <tr>
                            <td class="dropdown" ng-controller="DropdownCtrl">
                                <a class="dropdown-toggle">
                                    Presets
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="choice in items">
                                        <a>{{choice}}</a>
                                    </li>
                                </ul>
                            </td>
                            <td>MS</td>
                            <td><input type="number" ng-model="model.targetDummy.movespeed" min="110" ng-init="model.targetDummy.movespeed=380"></td>
                            <td>Tenacity</td>
                            <td><input type="number" ng-model="model.targetDummy.tenacity" min="0" max="100" ng-init="model.targetDummy.tenacity=0"></td>
                            <td>True DPS</td>
                            <td><input type="number" ng-model="model.targetDummy.trueDps" min="0" ng-init="model.targetDummy.trueDps=25"></td>
                        </tr>
                    </table>
                </th>
            </tr>
        </table>
        <div ng-controller="TabMenuCtrl">
            <tabset justified="true">
                <tab heading="Composite">
                    <canvas></canvas>
                </tab>
                <tab heading="Damage">
                    <canvas></canvas>
                </tab>
                <tab heading="Durability">
                    <canvas></canvas>
                </tab>
                <tab heading="Disruption">
                    <canvas></canvas>
                </tab>
                <tab heading="Chasedown">
                    <canvas></canvas>
                </tab>
                <tab heading="Kiting">
                    <canvas></canvas>
                </tab>
            </tabset>
        </div>
    </div>


</body>



</html>